body {
    background-color: #000000;
}

h1, h2, h3 {
    color: #ffffff;
    font-size: 40px;
}

.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.videos iframe {
    width: 100%;
    height: 250px;
    border: none;
}
